@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #e1003c;
  --default-notification-item: blue;
  --urgent-notification-item: red;
  --color-table-header: #deb5b5;
  --color-table-rows: #cdcdcd;
  --font-roboto: 'Roboto', system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-roboto);
  }
}
