.header {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
}

.title {
    color: #e1003c;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
}

.logo {
    height: 30vmin;
    pointer-events: none;
}

.logout-section {
    margin-left: auto;
    font-size: 1rem;
}