.course-list-container {
    margin: 130px auto;
    width: 90%;
    height: 33vh;
}

.course-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(161, 161, 161);
}

.course-thtd {
    border: 2px solid rgb(161, 161, 161);
}